{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}

{% if error %}
    <p style = "color: red">{{ error }}</p>
{% else %}
    <form action = "{% url 'new_page' %}" method = "POST">
        {% csrf_token %}
        <input type = "text" placeholder = "Title" name = "title">
        <textarea rows="3" cols="10" placeholder="Text" name = "content" > 
        </textarea>
        <input type = "submit" value = "Save">
    </form>
{% endif %}
{% endblock %}


